#clippy {
	position: absolute;
	z-index: 300;
	top: 100px;
	right: 2em;
	@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
	font-family: 'Gloria Hallelujah', cursive;

	.avatar {
		text-align: center;
		img {
			width: 8em;
		}
	}
}

