.clippy-bubble {
	margin-top: 1em;
	background: lightyellow;
	border-radius: 1em;
	border: 2px solid black;
	width: 240px;
	text-align: left;
	padding: 5px;
	position: relative;
}

.clippy-bubble-arrow {
	top: 0px;
	position: absolute;
	left: 3.5em;
}

.clippy-bubble-arrow::before {
	border-bottom: 23px solid black;
	border-left: 23px solid transparent;
	bottom: 2px;
	content: "";
	position: absolute;
	right: 4px;
}
.clippy-bubble-arrow::after {
	border-bottom: 20px solid lightyellow;
	border-left: 20px solid transparent;
	bottom: 0px;
	content: "";
	position: absolute;
	right: 6px;
}
