#chat-window {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 400;
	display: flex;

	.border-box {
		height: 480px;
		width: 640px;
		background: #ececec;
		border: 2px solid #acacac;
		margin: auto;
		display: flex;
		flex-direction: column;

		.title-bar {
			background-color: lightcoral;
			padding: 5px;
			border-bottom: 2px solid #ccc;
		}

		.message-window {
			flex: 1;
			padding: 5px;
			.message {
				border-bottom: 2px solid #ccc;
				.user {
					font-weight: bold;
				}
			}
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}
	}
}
