#progress-bar{
	position: absolute;
	height: 3em;
	width: 400px;
	top: 2em;
	right: 4em;;
	z-index: 100;
	margin: auto;
	background-color: lightgray;
	border: 2px solid black;

	text-align: center;

	.progress {
		background-color: lightgreen;
	}
}
