#window-frame {
	.title {
		background-color: lightblue;
		font-size: 18pt;
		font-family: sans-serif;
		font-weight: bold;
		border-bottom: 2px solid black;
		padding: 4px;
	}

	.status-bar {
		font-size: 10pt;
		font-family: sans-serif;
		border-top: 2px solid #ccc;
		padding: 4px;
	}

	.window-body {
		flex: 1;
		margin: 0 1em;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}

	display: flex;
	flex-direction: column;
	background-color: #ececec;
	height: 100%;
	width: 100%;
	border: 2px solid black;
	border-bottom: 0;
	margin: 0 auto;
}
